<!DOCTYPE html>
<html>
<head>
  {% extends "base/index.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'base/css/mobilescreen.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">


  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
    <h1 class='title text-shadow min-headspace'>Tower site search</h1>
  </div>

  <div class='container'>

   <div class='top-navbar headspace'>
     <a class="nav-link" type='button' data-toggle='collapse' data-target="#site_name_search" aria-expanded='false' aria-controls='site_name'>Search by Site Name</a>
     <a class="nav-link" type='button' data-toggle='collapse' data-target="#site_id_search" aria-expanded='false' aria-controls='site_id'>Search by Site ID</a>
   </div>

   <div class='row'>
     <div class='container-centered'>
      <div class='collapse multi-collapse' id='site_name_search'>
       <form class="form-inline" action="{% url 'towersite:tower-site-results-page' %}" method="get">
       <input class="form-control mr-sm-2" type='search' name='site_name' placeholder="Site Name" ></input>
       <button type="submit">Search</button>
       </form>
      </div>
    </div>
    <div class='container-centered'>
      <div class='collapse multi-collapse' id='site_id_search'>
       <form class="form-inline" action="{% url 'towersite:tower-site-results-page' %}" method="get">
       <input class="form-control mr-sm-2" type='search' name='site_id' placeholder="Site ID" ></input>
       <button type="submit">Search</button>
       </form>
    </div>
   </div>
  </div>

  {% if messages %}
  <div class='container-centered'>
  <ul class="headspace">
    {% for message in messages %}
    <li class="alert {{ message.tags }} alert-no-info">{{ message }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
    {% if not messages %}
    {% if object_list %}
      <div class='container'>
        <div class='headspace'>
           {% for item in object_list %}
           <ul class="forms">
             <li><h3>{% if item.site_name %}Site Name: &nbsp&nbsp {{ item.site_name }}{% endif %}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{% if item.state_owned == False %}Non-State Owned{% endif %}</h3></li>
             <li><h3>{% if item.site_id %}Site ID: &nbsp&nbsp {{ item.site_id }}{% endif %}</h3></li>
             <li><h3>{% if item.site_location %}911 Address: &nbsp&nbsp {{ item.site_location }}{% endif %}</h3></li>
             <li><h3>{% if item.site_asr %}ASR: &nbsp&nbsp {{ item.site_asr }}{% endif %}</h3></li>
           </ul>
           {% endfor %}
         </div>
       </div>
           {% endif %}
           {% endif %}
       </div>
       <div class='footer'>
       </div>
  {% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
