<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>

  {% block main %}
  <div class='container-middle-align'>
  {% if validlink %}
    <h3>Change password</h3>
    <div class='forms_2'>
    <form method="post">
      {% csrf_token %}
	{% for field in form %}
	<div class='row'>
	 <div class='col-lg-8'>
          <p class='field_label smallspace'>{{ field.label_tag }}</p>
	  {% if field.help_text %}
	   <p>{{ field.help_text }}</p>
	  {% endif %}
	      {% for error in field.errors %}
	       <div class='row'>
                <div class='alert alert-danger'>{{ error }}</div>
	       </div>
	  {% endfor %}
          </div>
       <div class='col-lg-2'>
	<p class='field smallspace'>{{ field }}</p>
       </div>
      </div>
      {% endfor %}
      <div class='row headspace'>
       <div class='col-sm-4'>
       </div>
       <div class='col-sm-3'>
        <button type="submit">Submit</button>
       </div>
       <div class='col-=sm-3'>
       </div>
      </div>
    </form>
    </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
  {% endblock main %}

</body>
</html>
