<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
{% block sub_one %}
<div class='container-centered'>
  <a href="{% url 'base:login' %}" class='sub-nav-link headspace'>Return to login page</a>
</diV>
<div class='container-middle-align'>
  <div class='container-centered forms_2'>
  <h5 class='info'>We've emailed you instructions for setting your password
  if an account exists with the email you entered.
  You should receive them shortly.</p>
</h5>
</br>
<h5 class='info'>If you don't receive an email please make sure you've entered the address you registered with,
  and check your spam folder.</h5>
</div>
</div>
{% endblock sub_one %}

</body>
</html>
