<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  {% endblock main %}


    {% block sub_one %}
      <div class='container-centered'>
        <h1 class='title'>Activate user email</h1>
            <div class='headspace'>
              <form action='' method="post">
                <div class='form_p'>
                {% csrf_token %}
                    <p><tag>{{form.name.label_tag}}</tag>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.name}}</p>
                    <p><tag>{{form.county.label_tag}}</tag>&nbsp&nbsp&nbsp&nbsp{{form.county}}</p>
                    <p><tag>{{form.email.label_tag}}</tag>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.email}}</p>
                    <p><tag>{{form.is_active.label_tag}}</tag>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.is_active}}</p>
                </div>
                <div class='container-centered min-headspace'>
                  <button type="submit" class='alert-info'>Activate User</button>
                </div>
            </form>
            </div>
          </div>
          <div class='container-centered max_headspace'>
            <a href="{% url 'sitemaintenance:site-maintenance-email-deletion-page' emailto.id %}" class='sub-nav-link min-headspace'>Delete Email Request</a>
          </div>

      <div class='footer'>
      </div>

    {% endblock sub_one %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
