<!DOCTYPE html>
<html>
<head>
  {% extends "servicecall/service.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
    <div class='container-centered headspace'>
      <h1 class='title text-shadow'>Are you sure you want to delete?</h1>
     </div>
  <div class='headspace'>
    <form action='' method="post" >
      {% csrf_token %}
      <ul class='forms_2'>
      <li><tag>Ticket</tag>&nbsp&nbsp {{ object.ticketno }}</li>
      <li><tag>Site</tag>&nbsp&nbsp {{ object.site_loc |truncatechars:100 }}</li>
      <li><tag>Reported issue</tag>&nbsp&nbsp {{ object.issue |wordwrap:100|linebreaksbr }}</li>
      <li><tag>Date</tag>&nbsp&nbsp {{ object.date|date:'Y-m-d H:i' }}</li>
      </ul>
       <div class='container-centered headspace'>
	<button type="submit" class='alert-delete'>Confirm</button>
       </div>
    </form>
   </div>
  </div>


  <div class='container-row'>
    <a href="{% url 'service-call:service-list' %}" class='nav-link min-headspace'>Service ticket list page</a>
    <a href="{% url 'base:home-page' %}" class='nav-link min-headspace'>Home page</a>
  </div>
  {% endblock main %}

</body>

</html>
