<!DOCTYPE html>
<html>
<head>
  {% extends "base/index.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto|Alata" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>

  {% block main %}
  <div class='container-centered'>
    <a href="{% url 'pointofcontact:point-of-contact-page' %}" class='nav-link min-headspace'><h1 class='title text-shadow '>Point of Contacts</h1></a>
  </div>

  <div class='container-centered'>

      <div class='top-navbar headspace'>
               <a class='nav-link' type='button' data-toggle='collapse' data-target='#county_name' aria-expanded='false' aria-controls='county_name'>Search by County</a>
               <a class='nav-link' type='button' data-toggle='collapse' data-target='#poc_name' aria-expanded='false' aria-controls='poc_name'>Search by Name</a>
               <a class='nav-link' type='button' data-toggle='collapse' data-target='#poc_title' aria-expanded='false' aria-controls='poc_title'>Search by Title</a>
               <a class='nav-link' type='button' data-toggle='collapse' data-target='#organization' aria-expanded='false' aria-controls='organization'>Search by Organization</a>
       </div>
    <div class='row'>  
      <div class='container-centered'>
           <div class='collapse' id='county_name'>
               <form class='form-inline'  action="{% url 'pointofcontact:point-of-contact-county-results' %}" method="get">
                 <input class="form-control mr-sm-2" type='search' name='county' placeholder="County" ></input>
                 <button type="submit">Search</button>
               </form>
           </div>
       </div>
      <div class='container-centered'>
           <div class='collapse' id='poc_name'>
               <form class='form-inline' action="{% url 'pointofcontact:point-of-contact-name-results' %}" method="get">
                 <input class="form-control mr-sm-2" type='search' name='name' placeholder="Name" ></input>
                 <button type="submit">Search</button>
               </form>
           </div>
       </div>
      <div class='container-centered'>
           <div class='collapse' id='poc_title'>
               <form class='form-inline' action="{% url 'pointofcontact:point-of-contact-title-results' %}" method="get">
                 <input class="form-control mr-sm-2" type='search' name='title' placeholder="Job title" ></input>
                 <button type="submit">Search</button>
               </form>
           </div>
       </div>
      <div class='container-centered'>
           <div class='collapse' id='organization'>
               <form  class='form-inline' action="{% url 'pointofcontact:point-of-contact-organization-results' %}" method="get">
                 <input class="form-control mr-sm-2" type='search' name='organization' placeholder="Organization" ></input>
                 <button type="submit">Search</button>
               </form>
           </div>
       </div>
  </div>
{% if messages %}
<div class='container-centered'>
<ul class="headspace">
  {% for message in messages %}
  <li class="alert {{ message.tags }} alert-no-info">{{ message }}</li>
  {% endfor %}
</ul>
</div>
{% endif %}
  {% if not messages %}
  {% if poc %}
<div class='container-centered headspace'>
         <h3 class="title">{{ poc.count }}&nbsp&nbspRecords returned</h3>
         {% for item in poc %}
         <ul class="forms_3">
           <li><h3>{{ item.county }}&nbspCounty</h3></li>
	   <li><tag>{{ item.job_title }}</tag>&nbsp&nbsp{{ item.name }}</li>
	   <li><tag>Phone Number:</tag>&nbsp&nbsp{{ item.phone }}</li>
	   {% if item.cell_or_alternate %}
	   <li><tag>Cell or Alternate:&nbsp&nbsp</tag>{{ item.cell_or_alternate|phone2numeric }}</li>
	   {% endif %}
	   <li><tag>Email:</tag>&nbsp&nbsp{{ item.email }}</li>
	   <li><tag>Organization:</tag>&nbsp&nbsp{{ item.organization }}</li>
	   {% if item.notes %}
	   <li><tag>Notes:</tag>&nbsp&nbsp{{ item.notes }}</li>
	   {% endif %}
         </ul>
         {% endfor %}
         {% else %}
   {% endif %}
   <div class='footer'>
   </div>
   {% endif %}
  </div>
 </div>
  {% endblock %}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>

</html>
