<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
    <h1 class='title text-shadow min-headspace'>Archived site alarms</h1>
  </div>
  <div class='container-centered headspace'>
    <form action="{% url 'alarm-check:alarm-archive-search'%}" method='GET'>
      {% csrf_token %}
      <label for='arcv_site_name'><tag>Site name &nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='text' id='arcv_site_name' placeholder='Site name' name='site_name'>
      <label for='alarm_type'><tag>Alarm &nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='text' id='alarm_type' placeholder='Alarm' name='alarm_type'>
      <label for='start_date'><tag>Start Date &nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='date' id='start_date' placeholder="YYYY-MM-DD" name='start_date' required=True>
      <label for='end_date'><tag>End Date &nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='date' id='end_date' placeholder="YYYY-MM-DD" name='end_date' required=True>
      <button type='submit'>Search</button>
    </form>
  </div>
  {% endblock main %}
    {% block sub_one %}
    <div class='container headspace'>
      <div class="container-row">
        {% for alarm in alarm_archives %}
          <div class=''>
            <ul>
              <li><tag>SITE location:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.arcv_site_name}}</li>
              <li><tag>Site id:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.arcv_site_identity }}</li>
              <li><tag>Alarm:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.arcv_alarm }}</li>
              <li><tag>Alarm date:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.arcv_alarm_date }}</li>
              <li><tag>Ticket closed:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.arcv_ticket_closed |yesno:'Yes,No' }}</li>
              <li><tag>Comments:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.all_comments }}</li>
              <li><tag>Closed at: </tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.time_stamp }}</li>
             </ul>
           </div>
             {% endfor %}
      </div>
    </div>

      <div class="container-row">
        <div>
        {% if page_obj.has_previous %}
          <a class="nav-link" href="?page={{ page_obj.previous_page_number }}"><< Previous</a>
          {% else %}
          <a class="nav-link nav-link-disabled"><< Previous</a>
        {% endif %}
      </div>
      <div>
        {% if page_obj.has_next %}
          <a class="nav-link" href="?page={{ page_obj.next_page_number }}">Next >></a>
          {% else %}
          <a class="nav-link nav-link-disabled">Next >></a>
        {% endif %}
        </div>
      </div>
      <div class='container-row'>
        <a href="{% url 'alarm-check:alarm-home' %}" class='nav-link'>Alarm page</a>
        <a href="{% url 'alarm-check:alarm-list' %}" class='nav-link'>Alarm listing page</a>
        <a href="{% url 'base:home-page' %}" class='nav-link'>Home page</a>
      </div>

    {% endblock sub_one %}




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>

</html>
