<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
    <a href="{% url 'alarm-check:alarm-home' %}" class="nav-link"><h1 class='title text-shadow min-headspace'>Site alarms</h1></a>
  </div>
  <div class='container-centered headspace'>
    <form action="{% url 'alarm-check:alarm-search'%}" method='GET'>
      {% csrf_token %}
      <div class='container'>
	      <div class='container-row'>
      <label for='site'><tag>Site &nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='text' id='site' name='site' required=True>
      <label for='alarm'><tag>Alarm &nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='text' id='alarm' name='alarm' required=True>
      	      </div>
	      <div class='container-row'>
      <label for='start'><tag>From&nbsp</tag></label>
      <input type='date' id='start' name='start' required=True>
      <label for='end'><tag>To &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</tag></label>
      <input type='date' id='end' name='end' required=True>
      	      </div>
	      <div class='container-centered'>
      <button type='submit'>Search</button>
      	      </div>
      </div>
    </form>
  </div>
  {% if request.user.is_superuser %}
  <div class='container-centered min-headspace'>
    <div class='container-top-nav '>
      <a href="{% url 'alarm-check:alarm-open-tickets' %}" class='sub-nav-link min-headspace'>Download report</a>
    </div>
  </div>
  {% endif %}
  {% endblock main %}
    {% block sub_one %}
    <div class='container headspace'>
      <table class='table table-bordered'>
	<thead>
	  <tr class='orange'>
	    <th style='width:35px;'>Ticket</th>
	    <th style='width:35px;'>Site</th>
	    <th style='width:35px;'>Alarm</th>
	    <th style='width:50px;'>Date</th>
	    <th style='width:20px;'>Status</th>
	    <th style='width:20px;'>History</th>
	    {% if perms.alarm.change_alarm %}
	    <th style='width:20px;'>Update</th>
	    {% endif %}
	    {% if perms.alarm_archive.view_alarm_archive %}
	    <th style='width:20px;'>Close</th>
	    {% endif %}
	  </tr>
	</thead>
	<tbody>
	    {% for alarm in alarms %}
	     <tr>
              <td>{{alarm.ticket}}</td>
              <td>{{alarm.site}}</td>
              <td>{{alarm.alarm}}</td>
	      <td>{{alarm.timestamp}}</td>
	      <td>{{alarm.status}}</td>
     	      <td><a href="{% url 'alarm-check:alarm-detail' pk=alarm.id %}" class='mini-nav-link'>✔</a></td>
	      {% if perms.alarm.change_alarm %}
 	      <td> <a href="{% url 'alarm-check:alarm-update' pk=alarm.id %}" class='mini-nav-link'>✔</a></td>
	      {% endif %}
	      {% if perms.alarm_archive.view_alarm_archive %}
	      <td><a href="{% url 'alarm-check:alarm-archive' pk=alarm.id %}" class='mini-nav-link'>✔</a></td>
	      {% endif %}
	  </tr>
	   {% endfor %}
	 </tbody>
	</table>
    </div>

      <div class='container-row'>
        <a href="{% url 'alarm-check:alarm-home' %}" class='nav-link'>Alarm page</a>
        {% if perms.alarm.view_alarm %}<a href="{% url 'alarm-check:alarm-list' %}" class='nav-link'>Alarm list page</a>{% endif %}
        <a href="{% url 'base:home-page' %}" class='nav-link'>Home page</a>
      </div>

    {% endblock sub_one %}

    {% block sub_two %}
    {% endblock sub_two %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>

</html>
