<!DOCTYPE html>
<html>
<head>
  <!-- {% extends 'base/index.html' %} -->
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  <!-- {% block sidebar %}
  {% endblock sidebar %}
  {% block main %}

  {% endblock main %}
    {% block sub_one %} -->
    <div class='container-centered'>
      <h1>Current Open Tickets</h1>
      <h3> {{ time }} </h3>
      <h3> {{ user_request }} </h3>
      <hr>
      {% if open_tickets %}
      {% for alarm in open_tickets %}
      <div class='container-centered'>
      <div class='forms'>
          <p><tag>SITE location:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.site}}</p>
          <p><tag>Alarm:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.alarm }}</p>
          <p><tag>TimeStamp:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.timestamp }}</p>
          <p><tag>Opened:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.opened}}</p>
          <p><tag>Status:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.status }}</p>
          <p><tag>Notes:</tag>&nbsp&nbsp&nbsp&nbsp {{ alarm.notes}}</p>
          <br>
          <hr>
          <br>
       </div>
     </div>
      {% endfor %}
     {% endif %}
<!--
    {% endblock sub_one %}
 -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>

</html>
