<!DOCTYPE html>
<html>
<head>
  {% extends "ticketsystem/tickets.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
    <h1 class='title'>Update Ticket for :&nbsp&nbsp{{ object.badge_identifier }}</h1>
  </div>
  {% endblock main %}
  {% block sub_one %}
  <div class='container-centered headspace'>
      <form action="" method="post" class='forms_4' >
        {% csrf_token %}
	<div class='container-row-left'>
	 <div>
	  <p>{{ form.badge_identifier.label }}</p>
	  <sup>{{ form.badge_identifier }}</sup>
	 </div>
	 <div>
	  <p>{{ form.location.label }}</p>
	  <sup>{{ form.location }}</sup>
	 </div>
	 <div>
	  <p>{{ form.talkgroup_assoc.label }}</p>
	  <sup>{{ form.talkgroup_assoc }}</sup>
	 </div>
	</div>

	<div class='container-row-left'>
	 <div>
	  <p>{{ form.rssi.label }}</p>
	  <p>{{ form.rssi }}</p>
	  <p>{{ form.mobile }}&nbsp{{ form.mobile.label }}</p>
	  <p>{{ form.portable }}&nbsp{{ form.portable.label }}</p>
	 </div>
	</div>

	<div class='container-row-left'>
	 <div>
	  <p>{{ form.desc_issue.label }}</p>
	  <p>{{ form.desc_issue }}</p>
	 </div>
	</div>

	<div class='container-row-left'>
	 <div>
 	  <p>{{ form.issue_resolved }}&nbsp{{ form.issue_resolved.label }}</p>
	 </div>
	</div>

	<div class='container-row-left'>
	 <div>
	  <p>{{ form.desc_resolve.label }}</p>
	  <p>{{ form.desc_resolve }}</p>
	 </div>
	</div>

          <div class='container-centered headspace'>
            <button type="submit">Save</button>
          </div>
    </form>
  </div>

  <div class='container-row max_headspace'>
    <a href="{% url 'ticketsystem:ticket-system-page' %}" class='nav-link'>Subscriber ticket page</a>
    <a href="{% url 'base:home-page' %}" class='nav-link'>Home page</a>
  </div>

  {% endblock sub_one %}


</body>

</html>
