<!DOCTYPE html>
<html>
<head>
  {% extends "ticketsystem/tickets.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block sub_one %}
  <div class='container'>
   <ul>
    <li><hr></hr></li>
   </ul>
  </div>
  <div class='container'>
       <div class='top-navbar min_headspace'>
                 <a class='nav-link' type='button' data-toggle='collapse' data-target='#badge_identifier' aria-expanded='false' aria-controls='badge_identifier'>Badge</a>
                 <a class='nav-link' type='button' data-toggle='collapse' data-target='#talkgroup_assoc' aria-expanded='false' aria-controls='talkgroup_assoc'>Talkgroup</a>
                 <a class='nav-link' type='button' data-toggle='collapse' data-target='#location' aria-expanded='false' aria-controls='location'>Location</a>
                 <a class='nav-link' type='button' data-toggle='collapse' data-target='#desc_issue' aria-expanded='false' aria-controls='desc_issue'>Description</a>
                 <a class='nav-link' type='button' data-toggle='collapse' data-target='#date' aria-expanded='false' aria-controls='date'>Date</a>
        </div>

      <div class='container-centered'>
        <div class='row'>
        <div class='container-centered'>
             <div class='collapse multi-collapse' id='badge_identifier'>
                 <form class="form-inline " action="{% url 'ticketsystem:ticket-system-read-results-page' %}" method="get">
                   <input class="form-control mr-sm-2" type='search' name='badge_identifier' placeholder="Badge"  ></input>
                   <button type="submit">Search</button>
                 </form>
             </div>
         </div>
        <div class='container-centered'>
             <div class='collapse multi-collapse' id='talkgroup_assoc'>
                 <form class="form-inline " action="{% url 'ticketsystem:ticket-system-read-results-page' %}" method="get">
                   <input class="form-control mr-sm-2" type='search' name='talkgroup_assoc' placeholder="Talkgroup" ></input>
                   <button type="submit">Search</button>
                 </form>
             </div>
         </div>
        <div class='container-centered'>
             <div class='collapse multi-collapse' id='location'>
                 <form class="form-inline " action="{% url 'ticketsystem:ticket-system-read-results-page' %}" method="get">
                   <input class="form-control mr-sm-2" type='search' name='location' placeholder="Location" ></input>
                   <button type="submit">Search</button>
                 </form>
             </div>
         </div>
        <div class='container-centered'>
             <div class='collapse multi-collapse' id='desc_issue'>
                 <form class="form-inline " action="{% url 'ticketsystem:ticket-system-read-results-page' %}" method="get">
                   <input class="form-control mr-sm-2" type='search' name='desc_issue' placeholder="Description" ></input>
                   <button type="submit">Search</button>
                 </form>
             </div>
         </div>
        <div class='container-centered'>
             <div class='collapse multi-collapse' id='date'>
                 <form class="form-inline " action="{% url 'ticketsystem:ticket-system-read-results-page' %}" method="get">
                   <input class="form-control mr-sm-2" type='date' name='date' required=True></input>
                   <button type="submit">Search</button>
                 </form>
             </div>
         </div>
       </div>
      </div>
    </div>
  
  {% if messages %}
  <div class='container-centered'>
    <ul class="headspace">
      {% for message in messages %}
      <li class="alert {{ message.tags }} alert-no-info">{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
 
  {% if object_list %}
  <div class='container headspace'>
      <table class='table table-bordered'>
	  <thead>
		  <tr class='orange'>
			  <th style='width:15px;'>Badge</th>
			  <th style='width:35px;'>Location</th>
			  <th style='width:35px;'>Talk group</th>
			  <th style='width:10px;'>RSSI</th>
			  <th style='width:10px;'>Mobile</th>
			  <th style='width:10px;'>Portble</th>
			  <th style='width:75px;'>Description of issue</th>
			  <th style='width:25px;'>Resolved</th>
			  <th style='width:35px;'>Time Stamp</th>
			  {% if request.user.is_superuser %}
			  <th style='width:10px;'>Update</th>
			  <th style='width:10px;'>Delete</th>
			  {% endif %}
		  </tr>
	  </thead>
	  <tbody>
		  {% for ticket in object_list %}
		  {% if ticket.issue_resolved == False %}
		  <tr>
		   <td>{{ ticket.badge_identifier }}</td>
		   <td>{{ ticket.location }}</td>
		   <td>{{ ticket.talkgroup_assoc }}</td>
		   <td>{{ ticket.rssi }}</td>
		   <td>{{ ticket.mobile|yesno:'Yes,No' }}</td>
		   <td>{{ ticket.portable|yesno:'Yes,No' }}</td>
		   <td>{{ ticket.desc_issue }}</td>
		   <td>{{ ticket.issue_resolved|yesno:'Yes,No' }}</td>
		   <td>{{ ticket.date|date:'Y-m-d H:i' }}</td>
		   {% if request.user.is_superuser %}
		   <td><a href="{% url 'ticket-system:ticket-system-update-page' ticket.id %}" class='mini-nav-link'>✔</a></td>
		   <td><a href="{% url 'ticket-system:ticket-system-delete-page' ticket.id %}" class='mini-nav-link'>✔</a></td>
		   {% endif %}
		  </tr>
		  {% endif %}
		  {% endfor %}
	  </tbody>
  </table>

   {% endif %}
  </div>


  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>

  {% endblock sub_one %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>

</html>
