<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>

  {% block main %}
  <div class='container-centered'>
    <a href="{% url 'ticketsystem:ticket-system-page' %}" class='nav-link min-headspace'><h1 class='title text-shadow'>Subscriber radio tickets</h1></a>
  </div>
  <div class='container'>
    <div class='container-row headspace'>
          <a class="nav-link" href="{% url 'ticketsystem:ticket-system-create-page' %}">Create New Ticket</a>
          <a class="nav-link" href="{% url 'ticketsystem:ticket-system-read-results-page' %}">Search Tickets</a>
    </div>
  </div>
  {% endblock main %}
  {% block sub_one %}
  <div class='container-centered'>
    {% if messages %}
    <ul class="headspace">
      {% for message in messages %}
      <li class="alert {{ message.tags }} alert-success">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <hr></hr>
  {% endblock sub_one %}
  {% block sub_two %}
  {% if ticket_list %}
  <div class='container headspace'>
      <table class='table table-bordered'>
	  <thead>
		  <tr class='orange'>
			  <th style='width:15px;'>Badge</th>
			  <th style='width:35px;'>Location</th>
			  <th style='width:35px;'>Talk group</th>
			  <th style='width:10px;'>RSSI</th>
			  <th style='width:10px;'>Mobile</th>
			  <th style='width:10px;'>Portble</th>
			  <th style='width:75px;'>Description of issue</th>
			  <th style='width:25px;'>Resolved</th>
			  <th style='width:35px;'>Date</th>
			  <th style='width:10px;'>Update</th>
			  {% if request.user.is_superuser %}
			  <th style='width:10px;'>Delete</th>
			  {% endif %}
		  </tr>
	  </thead>
	  <tbody>
		  {% for ticket in ticket_list %}
		  {% if ticket.issue_resolved == False %}
		  <tr>
		   <td>{{ ticket.badge_identifier }}</td>
		   <td>{{ ticket.location }}</td>
		   <td>{{ ticket.talkgroup_assoc }}</td>
		   <td>{{ ticket.rssi }}</td>
		   <td>{{ ticket.mobile|yesno:'Yes,No' }}</td>
		   <td>{{ ticket.portable|yesno:'Yes,No' }}</td>
		   <td>{{ ticket.desc_issue }}</td>
		   <td>{{ ticket.issue_resolved|yesno:'Yes,No' }}</td>
		   <td>{{ ticket.date|date:'Y-m-d' }}</td>i
		   <td><a href="{% url 'ticket-system:ticket-system-update-page' ticket.id %}" class='mini-nav-link'>◉</a></td>
		   {% if request.user.is_superuser %}
		   <td><a href="{% url 'ticket-system:ticket-system-delete-page' ticket.id %}" class='mini-nav-link'>◉</a></td>
		   {% endif %}
		  </tr>
		  {% endif %}
		  {% endfor %}
	  </tbody>
  </table>

   {% endif %}
  </div>

<div class='footer'>
</div>
{% endblock sub_two %}




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>

</html>
