<!DOCTYPE html>
<html>
<head>
  {% extends "ticketsystem/tickets.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  {% endblock main %}
  {% block sub_one %}
 <div class='container-middle-align'>
  <div class='container-centered headspace'>
    <form action='' method="post">
      {% csrf_token %}
       <ul class='forms_2'>
	<li>Badge&nbsp&nbsp&nbsp&nbsp{{ object.badge_identifier }}</li>
	<li>Locations&nbsp&nbsp&nbsp&nbsp{{ object.location }}</li>
	<li>Talkgroup&nbsp&nbsp&nbsp&nbsp{{ object.talkgroup_assoc }}</li>
	<li>Mobile&nbsp&nbsp&nbsp&nbsp{{ object.mobile|yesno:'Yes,No' }}</li>
	<li>Portable&nbsp&nbsp&nbsp&nbsp{{ object.portable|yesno:'Yes,No' }}</li>
	<li>Description &nbsp&nbsp&nbsp&nbsp{{ object.desc_issue|wordwrap:60|linebreaksbr }}</li>
	<li>Resolved &nbsp&nbsp&nbsp&nbsp {{ object.issue_resolve|yesno:'Yes,No' }}</li>
          {% if not object.desc_resolve == '' %}
        <li>Resolution&nbsp&nbsp&nbsp&nbsp{{ object.desc_resolve }}</li>
	{% endif %}
       </ul>
      <div class='container-centered headspace'>
        <button type="submit" class='alert-delete'>Confirm deletion</button>
      </div>
  </form>
  </div>
</div>
  <div class='container-row'>
    <a href="{% url 'ticketsystem:ticket-system-page' %}" class='nav-link'>Subscriber ticket page</a>
    <a href="{% url 'base:home-page' %}" class='nav-link'>Home page</a>
  </div>
  {% endblock sub_one %}

</body>

</html>
