<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
     {% if request.user.email == 'brittain@dps.state.ia.us' %}
      <div class='container-middle-align '>
        <div class='max_headspace'>
         <img src="{% static 'base/images/dave.jpg' %}"/>
        </div>
      </div> 
    
      {% else %}
      <div class='container-centered'>
         <ul class='forms_2 max_headspace'>
           <li><tag>Hello :</tag>&nbsp&nbsp&nbsp&nbsp{{ request.user.username }}</li>
           <li><tag>First Name :</tag>&nbsp&nbsp&nbsp&nbsp{{ request.user.first_name|upper }}</li>
           <li><tag>Last Name :</tag>&nbsp&nbsp&nbsp&nbsp{{ request.user.last_name|upper }}</li>
           <li><tag>Email </tag>:&nbsp&nbsp&nbsp&nbsp{{ request.user.email|lower }}</li>
           <li><tag>Staff :</tag>&nbsp&nbsp&nbsp&nbsp{{ request.user.is_staff|yesno:"Yes,No" }}</li>
           <li><tag>Super user:</tag>&nbsp&nbsp&nbsp&nbsp{{ request.user.is_superuser|yesno:"Yes,No" }}</li>
         </ul>
     </div>
       {% endif %}

    <div class='container-centered'>
      <a href="{% url 'suggestion:notes-page' %}" class='nav-link'>Submit a suggestion</a>
    </div>

    {% endblock main %}

    <div class='headspace'>
      {% if messages %}
      {% for message in messages %}
      <div class='container-centered'>
        <ul>
          <li class="alert {{ message.tags }} alert-success">{{ message }}</li>
        </ul>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    {% block sub_one %}
    {% endblock sub_one %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
