<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
	  <a href="{% url 'notam:notam-home' %}"><h1 class='title'>Notam</h1></a>
  </div>
  {% endblock main %}

  {% block sub_one %}
  <div class='container-centered'>
  <div class='headspace '>
  <form action='' method='POST'>
    {% csrf_token %}
    <div class='container-centered max_headspace'>
      <ul class='forms_2'>
        <li><tag>Site name</tag>&nbsp&nbsp&nbsp{{ notam.site_name }}</li>
        <li><tag>Date</tag>&nbsp&nbsp&nbsp{{ notam.date }}</li>
        <li><tag>FAA No</tag>&nbsp&nbsp&nbsp{{ notam.aviation }}</li>
        <li><tag>Motorola No</tag>&nbsp&nbsp&nbsp{{ notam.motorola }}</li>
      </ul>
    </div>
    <div class='container-centered'>
    <button type='submit' class='alert-delete'>Delete ticket</button>
    </div>
  </form>
  </div>
  </div>

  {% endblock sub_one %}


</body>

</html>
