<!DOCTYPE html>
<html>
<head>
  {% extends 'base/index.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
  <div class='container-centered'>
    <h1 class='title'>Notam</h1>
  </div>
  {% endblock main %}

  {% block sub_one %}
   <div class='container-middle-align'>
    <form action='' method='POST'> 
     {% csrf_token %}
     <ul class='forms_2'>
                <div class='container-row-between'>
		     <div>
			     <li><tag>{{form.site_name.label}}</tag></li>
			     <li>{{form.site_name}}</li>
	             </div>
		     <div>
			     <li><tag>{{form.aviation.label}}</tag></li>
			     <li>{{form.aviation}}</li>
	             </div>
		     <div>
			     <li><tag>{{form.motorola.label}}</tag></li>
			     <li>{{form.motorola}}</li>
		     </div>
		 </div>
		     
			     <li><tag>{{form.notes.label}}</tag></li>
		     	     <li>{{form.notes}}</li>
     </ul>
     <div class='container-centered'>
	<button type='submit'>30 Day extension filed</button>
     </div>
    </form>
   </div>

  {% endblock sub_one %}


</body>

</html>
