<!DOCTYPE html>
<html>
<head>
  {% include 'notam/notam_home.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block sub_two %}
     <div class='container'>
	<table class='table table-bordered headspace'>
		<thead>
			<tr class='orange'>
				<th>Date</th>
				<th>Site</th>
				<th>Submitted by</th>
			</tr>
		</thead>
		<tbody>
			{% for notam in notams %}
			<tr>
				<td>{{ notam.date|date:'Y-m-d H:i' }}</td>
				<td>{{ notam.site_name }}</td>
				<td>{{ notam.user.last_name }}&nbsp,&nbsp{{ notam.user.first_name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
   </div>
  {% endblock sub_two %}




</body>

</html>
