<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <link rel="stylesheet" media="screen and (max-width: 900px)" href="{% static 'base/css/smallscreen.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>
  <title>Radio User Database</title>
  <style>
    .marquee   {
	    position: relative;
	    overflow: hidden;
	    height: 24em;
    }
    .marquee > div {
	    text-align:center;
	    margin:0;
	    line-height:40px;
	    width: 100%;
	    height: 100%;
	    -moz-animation: marquee 7500ms linear infinite;
	    -webkit-animation: marquee 7500ms linear infinite;
	    animation: marquee 7500ms linear infinite;
	}
   	
    @-moz-keyframes marquee {
	    0% {
		    transform: translateY(100%);
		}
	    100% { 
		    transform: translateY(-100%);
		 }
    }
    @-webkit-keyframes marquee {
	    0% {
		    transform: translateY(100%);
		}
	    100% { 
		    transform: translateY(-100%);
		 }
    }

    @keyframes marquee {
	    0% {
		    -moz-transform: translateY(100%);
		    -webkit-transform: translateY(100%);
		    transform: translateY(100%);
		}		
	   100% {
		    -moz-transform: translateY(-100%);
		    -webkit-transform: translateY(-100%);
		    transform: translateY(-100%);
		}
    }
  </style>

</head>

<body>
  {% block sidebar %}
    <nav class='side-navbar'>
      <ul class='side-navbar-nav'>
        <li class='logo'>
          <a href="{% url 'base:home-page' %}" class='side-nav-link'>
            <i class="fas fa-home"></i>
            <span class='side-link-text'>Home</span>
          </a>
        </li>
        <li class='side-nav-item mobile'>
          <a href="{% url 'servicecall:service-call-page' %}" class='side-nav-link'>
            <i class="fas fa-dice-d20"></i>
            <span class='side-link-text '>Service Call</span>
          </a>
        </li>
        <li class='side-nav-item mobile'>
          <a href="{% url 'ticketsystem:ticket-system-page' %}" class='side-nav-link'>
            <i class="fas fa-ticket-alt"></i>
            <span class='side-link-text'>Subscriber Ticket System</span>
          </a>
        </li>
        <li class='side-nav-item'>
          <a href="{% url 'alarm-check:alarm-home' %}" class='side-nav-link'>
            <i class="fas fa-bell"></i>
            <span class='side-link-text mobile'>Alarms</span>
          </a>
        </li>
        {% if perms.sitemaintenance.view_sitemaintenance %}
        <li class='side-nav-item'>
          <a href="{% url 'sitemaintenance:site-maintenance-home-page' %}" class='side-nav-link'>
            <i class="fas fa-wrench"></i>
            <span class='side-link-text'>System Maintenance</span>
          </a>
        </li>
        {% endif %}
        <li class='side-nav-item'>
          <a href="{% url 'towersite:tower-site-page' %}" class='side-nav-link'>
            <i class="fas fa-broadcast-tower"></i>
            <span class='side-link-text'>Tower sites</span>
          </a>
        </li>
        <li class='side-nav-item'>
          <a href="{% url 'pointofcontact:point-of-contact-page' %}" class='side-nav-link'>
            <i class="fas fa-users"></i>
            <span class='side-link-text'>Point of Contacts</span>
          </a>
        </li>
      <li class='side-nav-item'>
        <a href="{% url 'notam:notam-home' %}" class='side-nav-link'>
          <i class="far fa-lightbulb"></i>
          <span class='side-link-text'>Notam</span>
        </a>
      </li>
	<li class='side-nav-item'>
	  <a href="{% url 'generator:generator-home' %}" class='side-nav-link'>
		  <i class='fas fa-cogs'></i>
		  <span class='side-link-text'>Generators</span>
		</a>
	</li>
       <li class='side-nav-item'>
          <a href="{% url 'user:profile-page' %}" class='side-nav-link'>
            <i class="far fa-user-circle"></i>
            <span class='side-link-text'>Profile</span>
          </a>
        </li>
	
	{% if perms.emailto.view_email %}
        {% if email_request %}
       <li class='side-nav-item-envelope'>
          <a href="{% url 'site-maintenance:site-maintenance-email-activation-page' email_request.id %}" class='side-nav-link'>
            <i class="far fa-envelope blinking-orange"></i>
            <span class='side-link-text'>Email request</span>
          </a>
        </li>
        {% endif %}
	{% endif %}
        <li class='side-nav-item'>
          <a href="{% url 'base:logout' %}" class='side-nav-link'>
            <i class="fas fa-sign-out-alt"></i>
            <span class='side-link-text'>Log out</span>
          </a>
        </li>
      </ul>
    </nav>
  {% endblock sidebar %}


  {% block main %}
  <div class='container-centered'>
  <div class='container-row'>
    <div class='container-centered'>
	    <a href="{% url 'alarm-check:alarm-list' %}" class='nav-link'>	
		    <h3 class='forms_homepage_tag'>{{alarms.count}}&nbsp&nbspAlarms</h3>
            </a>
      <div class='form_homepage'>
        {% if alarms %}
        {% for alarm in alarms %}
        <ul class='min-headspace'>
          <a href="{% url 'alarm-check:alarm-detail' alarm.id %}" class='nav-link'>
            <li><tag>Site</tag>&nbsp&nbsp{{alarm.site_name}}</li>
            <li><tag>Alarm</tag>&nbsp&nbsp{{alarm.alarm}}</li>
            <li><tag>Date</tag>&nbsp&nbsp{{alarm.alarm_date}}</li>
          </a>
          <br>
        </ul>
        {% endfor %}
        {% endif %}
      </div>
    </div>
      <div class='container-centered'>
      <a href="{% url 'ticketsystem:ticket-system-page' %}" class='nav-link'><h3 class='forms_homepage_tag'>{{ticketsys.count}}&nbsp&nbspRadio Tickets</h3></a>
          <div class='form_homepage'>
            {% if ticketsys %}
            {% for ticket in ticketsys %}
            <ul class='min-headspace'>
              <a href="{% url 'ticketsystem:ticket-system-read-page' ticket.id %}" class='nav-link'>
              <li><tag>Badge</tag>&nbsp&nbsp{{ ticket.badge_identifier }}</li>
              <li><tag>Description</tag>&nbsp&nbsp{{ ticket.desc_issue }}</li>
              </a>
              <br>
            </ul>
            {% endfor %}
            {% endif %}
          </div>
        </div>
          <div class='container-centered'>
            <a href="{% url 'notam:notam-home' %}" class='nav-link'><h3 class='forms_homepage_tag'>{{notams.count}}&nbsp&nbspNotams</h3></a>
            <div class='form_homepage'>
              {% if notams %}
              {% for notam in notams %}
              <ul class='min-headspace'>
                <li><tag>Site</tag>&nbsp&nbsp{{notam.site_name}}</li>
                <li><tag>Date</tag>&nbsp&nbsp{{notam.date}}</li>
                <br>
              </ul>
              {% endfor %}
              {% endif %}
            </div>
          </div>
       </div>

       <div class='container-row'>
          <div class='container-centered'>
		  <a href="{% url 'service-call:service-list' %}" class='nav-link'><h3 class='forms_homepage_tag'>{{ service_tickets.count }}&nbsp&nbspService tickets</h3></a>
	   <div class='form_homepage'>
	     {% if service_tickets %}
	     {% for service in service_tickets %}
	     <ul class='min-headspace'>
   	      <li><tag>Ticket No.</tag>&nbsp&nbsp{{ service.ticketno }}</li>
	      <li><tag>Location</tag>&nbsp&nbsp{{ service.site_loc }}</li>
	      <li><tag>Issue</tag>&nbsp&nbsp{{ service.issue }}</li>
	      <li><tag>Date</tag>&nbsp&nbsp{{ service.date|date:'Y-m-d' }}</li>
	      <br>
	     </ul>
	     {% endfor %}
	     {% endif %}
	   </div>
          </div>

	  <div class='container-centered'>
		  <a href="#" class='nav-link'><h3 class='forms_homepage_tag'>Year to date</h3></a>
	         	  <div class='form_homepage'>
		              <div class='marquee'>
				   <div class='container-centered-between'>
					     <h4>Alarms {{ total_alarms }}</h4>
					     <h4>Subscriber tickets {{ ticketsys.count }}</h4>
					     <h4>Total Towers 127</h4>
			           </div>
		                </div>
		           </div>
           </div>

	</div>


</div>

	<div class='footer'>
	</div>

  {% endblock main %}
  {% block sub_one %}

  {% endblock sub_one %}
  {% block sub_two %}
  {% endblock sub_two %}
  {% block sub_three %}
  <!-- <div class='footer'>
  </div> -->
  {% endblock sub_three %}
  {% block timer %}
  <div class='container-right'>
  <div class='sticky-timer'>
    <ul>
      <li><p class='timer'>SESSION EXPIRE<a href="{% url 'home:home-page-secret' %}" style="color:orange;text-decoration:none">S</a></p></li>
      <li><div id='clock'>8:10:45</div></li>
    </ul>
  </div>
</div>
  {% endblock timer %}




<script>
function countdown( elementName, minutes, seconds )
{
    var element, endTime, hours, mins, msLeft, time;

    function twoDigits( n )
    {
        return (n <= 9 ? "0" + n : n);
    }

    function updateTimer()
    {
        msLeft = endTime - (+new Date);
        if ( msLeft < 1000 ) {
            element.innerHTML = "Logged out!";
        } else {
            time = new Date( msLeft );
            hours = time.getUTCHours();
            mins = time.getUTCMinutes();
            element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
            setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
        }
    }

    element = document.getElementById( elementName );
    endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
    updateTimer();
}

countdown( "clock", 30, 0 );


</script>






  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
