<!DOCTYPE html>
<html>
<head>
  {% extends 'base/login.html' %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>
  {% block main %}
        <div class='login-bar'>
		<a href="{% url 'home:login' %}" class='nav-link'>Back to login</a>
        </div>
  <div class='container-middle-align'>
    <p>If you wish to be notified when system maintenance or outages occurs in your area</p>
    <p>please fill out the following form and once approved you will be added to the list</p>
        <form action='' method="post" class='forms_2'>
          {% csrf_token %}
		  <div class='label'>{{ form.name.label }}</div>
		  <div>{{ form.name }}</div><br>
	  	  <div class='label'>{{ form.county.label }}</div>
		  <div>{{ form.county }}</div><br>
		  <div class='label'>{{ form.email.label }}</div>
		  <div>{{ form.email }}</div><br>
	     <div class='container-centered'>
             <button type="submit">Subscribe</button>
            </div>
        </form>
        </div>

{% endblock %}

{% block sub_one %}
  <div class='container-centered'>
    {% if messages %}
    {% for message in messages %}
    <ul class="messages headspace">
      <li class=" alert {{ message.tags }} alert-success">{{ message }}</li>
    </ul>
    {% endfor %}
    {% endif %}
  </div>

{% endblock sub_one %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
