<!DOCTYPE html>
<html>
<head>
  {% extends "base/index.html" %}
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>

  {% block main %}
  <div class='container'>
    <h2 class='title '>ISICS Applicant List</h2>
        <table class='shadow table-applicant'>
          <thead>
            <tr>
              <th class='space'><h4>Applicant</h4></th>
              <th><h4>LOI</h4></th>
              <th><h4>MOA</h4></th>
              <th><h4>Part Pl</h4></th>
              <th><h4>UGC</h4></th>
              <th><h4>ISICSB</h4></th>
              <th><h4>User Level</h4></th>
            </tr>
          </thead>
          <tbody>
            {% if application %}
            {% for item in application %}
            <tr>
                <td>{{ item.applicant }}</td>
                <td>{% if item.loi == False %}{% else %}x{% endif %}</td>
                <td>{% if item.moa == False %}{% else %}x{% endif %}</td>
                <td>{% if item.part_pl == False %}{% else %}x{% endif %}</td>
                <td>{% if item.ugc == False %}{% else %}x{% endif %}</td>
                <td>{% if item.isicb_approved == False %}{% else %}x{% endif %}</td>
                <td >{{ item.user_level }}</td>
           </tr>
            {% endfor %}
            {% endif %}
          </tbody>
      </table>
    </div>
    <div class='container-centered'>
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li ><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
  </div>
  {% endblock main %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>

</html>
